/* body,html {height:100%;overflow:hidden;}
body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
}
div {
  border: 1px solid rgba(255,255,255,.1);
  width: 10em;
  height: 10em;
  transform: rotate(45deg);
  margin: 2em;
  float: left;
  background: linear-gradient(135deg, rgba(255,255,255,0.05) 0%,rgba(0,0,0,0.05) 100%); 
} */
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    
    height: 100vh;
    width: 100vw;

    background-image: url(/siteanimefabioNuno/img/animemeuf.jpg);

background-repeat: no-repeat;
background-position: center;
background-size: 100vw;
}
header{
   height: 15vh;
   color: white;
   
    /* background-color: red; */
}
main{

    height: 75vh;
/* background-color: green; */
/* background-image: url(/siteanimefabioNuno/img/animemeuf.jpg);

background-repeat: no-repeat;
background-position: center;
background-size: 100vw; */
}

nav{
    padding-top: 20vh;
    display: flex;
    flex-direction: row;
    width: 100vw;
    font-size: 150px;
}
ul{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100vw;
    list-style: none;
}
li{
    
}
a{
    text-decoration: none;
    color: white;

}
a:hover{
    color: black;
    text-decoration: none;
}

footer{
    
    height: 10vh;
    /* background-color: blue; */
    color: white;
}
footer>p:nth-child(1){
    text-align: left;
    /* padding-top: 255px; */
}
footer>p:nth-child(2){
    text-align: center;
}
footer>p:nth-child(3){
    text-align: right;
}
/* #Anime{
    margin-top: 15vh;
    margin-left: 30vw;
}
#Manga{
    margin-top: 15vh;
    margin-left: 15vw;
} */